/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  transition: transform .3s ease-in-out,width .3s ease-in-out,-webkit-transform .3s ease-in-out;
  background: #ffffff;
}

#page-content-wrapper {
  padding: 20px;
  margin-left: 230px;
}

#wrapper{
  position: relative;
  min-height: 100vh;
  height: auto;
}


/* Sidebar Styles */

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #040708;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #4b8c47;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand a {
  color: #ffffff;
  font-weight: bold;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #ffffff;
  background: none;
}
  
/*
* Navbar
*/
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus,.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color: #fff;
}

.fa{
  display: unset;
  margin-right: 10px;
}

.sidebar-nav > .sidebar-brand{  
  background: #7d6f6b;
}

.navbar-laravel {
  position: relative;
  background-color: #e6a756;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  border-width: 0 1px 0px 1px;
}